* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.header {
 background-color: #bd2b06;
 color: white;
 min-height: 20vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: 45px;
}

.SearchArea {
 margin: 10px 0px;
}

.input {
 width: 30%;
 float: left;
 padding: 10px 24px;
}

.btn {
 background-color: #bd2b06;
 border-radius: 4px;
 color: white;
 padding: 10px 24px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 border: 1px solid rgb(128, 36, 0);
}

.btn:hover {
 background-color: #bd3f20;
 color: white;
}

.displayPokemon {
 min-height: 65vh;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 align-self: center;
 font-size: 25px;
}

.properties {
 list-style-type: none;
 padding: 15px 40px 15px 40px;
 border: 3px solid #090909;
 align-items: center;
 justify-content: center;
 align-self: center;
 flex-wrap: nowrap;
}

.img {
 display: inline-flex;
 max-width: 200px;
 max-height: 200px;
 min-width: 150px;
 min-height: 150px;
 justify-content: center;
 align-self: center;
 flex-wrap: nowrap;
}

#catchRelease {
 position: absolute;
 right: 37%;
 bottom: 28%;
}

.infoDisplay {
 max-width: 100vw;
 max-height: 100vh;
}

.pokemonList {
 display: flex;
 flex-direction: row;
 flex-wrap: wrap;
 list-style-type: none;
 padding: 8px 20px 8px 20px;
 justify-content: center;
}

.pokemonLi {
 background-color: #f1f1f1;
 margin: 10px;
 padding: 10px;
 font-size: 20px;
 justify-content: center;
 width: 20%;
}
.error {
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}

.errorimg {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width: 50%;
}

.pokemonerror {
 font-size: 30px;
}
/* .App {
 text-align: center;
}

.App-logo {
 height: 40vmin;
 pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
 .App-logo {
  animation: App-logo-spin infinite 20s linear;
 }
}

.App-header {
 background-color: #282c34;
 min-height: 100vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-size: calc(10px + 2vmin);
 color: white;
}

.App-link {
 color: #61dafb;
}

@keyframes App-logo-spin {
 from {
  transform: rotate(0deg);
 }
 to {
  transform: rotate(360deg);
 }
} */
